:root {
    font-size: 12px;
}

body {
    font-family: Rubik, Roboto, sans-serif;
    background: #ffbbcd;
    font-weight: normal;
    color: white;
}

.pagetitle {
    color: red;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 0.5rem;
    -webkit-text-stroke: white 0.04em;
    font-weight: 600;
}

nav, .pagenav {
    background: #aa77ff;
    background: #0000ff55;
    margin: auto;
    padding: 0.4em;
    margin-bottom: 0.5em;
    border: 0.2rem solid #a0b0ff;
    border: 0.2rem solid #00ffff55;
    border: 0.2rem solid #00aaff;
    font-size: 1.25em;
    max-width: fit-content;
    align-self: center;
}

nav a, .pagenav a {
    display: inline-block;
    color: white;
    background: #ff00ff;
    border-width: 2px;
    border: solid;
    border-color: #00ffff;
    border: 0.2rem solid #00ffff;
    text-decoration: none;
    width: 6em;
    height: 1.25em;
    text-align: center;
    margin: 0.2em;
    padding: 0.5em;
    /*-webkit-text-stroke: white 0.01em;*/
    font-weight: 500;
}
nav a:hover, .pagenav a:hover {
    color: aqua;
    background: red;
}
nav a:active, .pagenav a:active {
    color: red;
    background: aqua;
}

.pagebody {
    display: block;
    /*display: grid;*/
    /*display: flex;*/
    margin: auto;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
    width: 60em;
}

.box {
    border-width: 2px;
    border: solid;
    border-color: blue;
    border: 0.2rem solid #0000ffbb;
    border: 0.2rem solid blue;
    display: inline-block;
    background: #dd00ff;
    background: #cc00ffbb;
    padding: 1em;
    margin: 0.5em 0.5em;
    width: 20em; /* Default incase something goes wrong */
    text-align: left;
}

#box1, #box4 {
    width: 36em;
    height: 20em;
}
#box2, #box3 {
    width: 16em;
    height: 20em;
}
#box5, #box6 {
    width: 26em;
    height: 10em;
}
#box5 div {
    display: inline-block;
}

.button8831, img .button8831 {
    width: 88px;
    height: 31px;
}

@media (max-width: 6000px) {
    :root {
        font-size: 16px;
    }
}
@media (max-width: 1100px) {
    :root {
        font-size: 14px;
    }
}
@media (max-width: 850px) {
    :root {
        font-size: 14px;
    }
    .pagebody {
        width: auto;
        width: 49em;
    }
#box1, #box4 {
    width: 28em;
    height: 20em;
}
#box2, #box3 {
    width: 14em;
    height: 20em;
}
#box5, #box6 {
    width: 21em;
    height: 10em;
}
#box5 div {
    display: inline-block;
}
}
@media (max-width: 700px) {
    :root {
        font-size: 14px;
    }
    .pagebody {
        width: auto;
        width: 40em;
    }
    #box1,
    #box2,
    #box3,
    #box4,
    #box5,
    #box6 {
        width: 36em;
        height: 20em;
    }
    #box5 div {
        display: inline-block;
    }
}
@media (max-width: 600px) {
    :root {
        font-size: 12px;
    }
}
@media (max-width: 520px) {
    :root {
        font-size: 10px;
    }
}
@media (max-width: 435px) {
    .pagetitle {
        font-size: 36px;
    }
    :root {
        font-size: 8px;
    }
    .pagetitle::after {
        content: " is too big to display for your display. Please unzoom.";
    }
    #box1,
    #box2,
    #box3,
    #box4,
    #box5,
    #box6 {
        width: 36em;
        height: 20em;
    }
}