.box {
    width: 200px;
    height: 150px;
    font-size: 14px;
}
.pagebody {
    width: 480px;
}
a, .button {
    display: block;
    margin: 15px;
    padding: 15px 0px;
}
p {
    margin-bottom: 10px;
}

p a {
    display: inline;
    margin: 0px;
    padding: 0px;
}

a.accept {
    color: #ffffff;
    background: #40a02b;
    background: #40a02b99;
    border-color:#00ff00;
}
a.accept:visited {
    color: #ffffff;
}
a.accept:hover {
    color: #00ff00;
    background: #41a12b;
}
a.accept:active {
    background: #b9eaae;
}
a.decline {
    color: #ffffff;
    background: #d20f39;
    background: #d20f3999;
    border-color: #ff0000;
}
a.decline:visited {
    color: #ffffff;
}
a.decline:hover {
    color:#ff0000;
    background: #d20f39;
}
a.decline:active {
    background: #f8a0b3;
}

/*wawawa*/
.invalid a {
    color: #cacaca;
    background: #888888;
    background: #88888888;
    border-color: #cacaca;
}
.invalid a:hover {
    color: #bababa;
    background: #666666;
    background: #66666688;
    border-color: #bababa;
}
