body {
    font-family: Rubik, Roboto, sans-serif;
    background: pink;
    font-size: 16px;
    font-size: normal;
    font-weight: normal;
}

.pagetitle {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding: 0.5rem;
}

nav {
    background: purple;
    margin: auto;
    padding: 0.4em;
    margin-bottom: 1em;
    border: blue;
    border-style: solid;
    border-width: 0.1em;
    font-size: large;
    max-width: fit-content;
    align-self: center;
}

nav a {
    display: inline-block;
    color: red;
    background: blue;
    text-decoration: none;
    min-width: 4em;
    max-width: 4em;
    height: 1.2em;
    text-align: center;
    margin: 0.2em;
    padding: 0.5em;
}
nav a:hover {
    color: aqua;
    background: red;
}
nav a:active {
    color: pink;
    background: aqua;
}

.pagebody {
    display: grid;
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    gap: 2em;
}
.box {
    display: inline-block;
    background: white;
    padding: 1em;
    width: 18em;
}