:root {
	font-size: 12px;
	vertical-align: top;
}
* {
	vertical-align: top;
}

body {
	font-family: Rubik, "Adwaita Sans", "Liberation Sans", Roboto, "Comic Sans MS", sans-serif, Ubuntu; /*hahahahahahaha no Ubuntu for youuu*/
	background: #ffbbcd;
	font-weight: normal;
	color: white;
}

a {
	color: cyan;
	text-decoration: none;
}
a:visited {
	color: #00bbff;
	text-decoration: none;
}
a:hover {
	color: pink;
	text-decoration: underline;
}
a:active {
	color: red;
	text-decoration: wavy;
}

.pagetitle {
	color: red;
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
	padding: 0rem;
	-webkit-text-stroke: white 0.15rem;
	font-weight: 600;
}

.pagenav {
	background: #aa77ff;
	background: #0000ff55;
	margin: auto;
	padding: 0.4rem;
	margin-bottom: 0.5rem;
	border: 0.2rem solid #a0b0ff;
	border: 0.2rem solid #00ffff55;
	border: 0.2rem solid #00aaff;
	font-size: 1.25rem;
	max-width: fit-content;
	align-self: center;
}

.pagenav a {
	display: inline-block;
	color: white;
	background: #ff00ff;
	border-width: 2px;
	border: solid;
	border: 0.2rem solid #00ffff;
	text-decoration: none;
	width: 4.15rem;
	height: 1.25rem;
	text-align: center;
	margin: 0.2rem;
	padding: 0.5rem;
	padding-bottom: 0.7rem;
	/*-webkit-text-stroke: white 0.05rem;*/
	font-weight: 500;
	vertical-align: middle;
}
.pagenav a:hover {
	color: aqua;
	background: red;
}
.pagenav a:active {
	color: red;
	background: aqua;
}

.pagebody {
	display: block;
	/*display: grid;*/
	/*display: flex;*/
	margin: auto;
	align-self: center;
	align-content: center;
	justify-content: center;
	text-align: center;
	gap: 2rem;
	width: auto;
	width: 50rem;
}

.box {
	border-width: 2px;
	border: solid;
	border-color: blue;
	border: 0.2rem solid #0000ffbb;
	border: 0.2rem solid blue;
	display: inline-block;
	background: #dd00ff;
	background: #cc00ffbb;
	padding: 1rem;
	margin: 0.5rem 0.5rem;
	width: 20rem; /* Default incase something goes wrong */
	height: 15rem; /* Default incase something goes wrong */
	text-align: left;
	vertical-align: top;
	font-size: 1rem;
	width: auto;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
	margin-left: 2rem;
}

.boxtitle {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

#box404 {
	color: red;
	font-size: 3rem;
	font-weight: bold;
	width: auto;
	height: auto;
}

#pagebody-home #box1 {
width: 31rem;
height: 11rem;
}
#pagebody-home #box2 {
	width: 11rem;
	height: 11rem;
}
#pagebody-home #box3 {
	width: 8rem;
	height: 4rem;
}
#pagebody-home #box4 {
	width: 34rem;
	height: 4rem;
}
#pagebody-home #box5,
#pagebody-home #box6 {
	width: 21rem;
	height: 10rem;
}
#pagebody-home #box5 div {
	display: inline-block;
}

.button8831,
img .button8831 {
	width: 88px;
	height: 31px;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}

.introimage img,
.introimage {
	display: inline;
	height: 11rem;
	width: 11rem;
}
.introtext {
	display: inline-block;
	width: 19.7rem;
	text-align: justify;
}

#navelement-photo::after {
    /*content: "graphs";*/
	content: "s";
}

.mybuttonbox div {
	display: inline;
}
.mybuttonbox div div {
	display: inline-block;
}



@media (max-width: 900000px) {
	:root {
		font-size: 36px;
	}
	.button8831,
	img .button8831 {
		width: 176px;
		height: 62px;
}
}
@media (max-width: 3500px) {
	:root {
		font-size: 18px;
	}
	.button8831,
	img .button8831 {
		width: 88px;
		height: 31px;
	}
}
@media (max-width: 1300px) {
	:root {
		font-size: 16px;
	}
}
@media (max-width: 900px) {
	:root {
		font-size: 14px;
	}
}
@media (min-width: 721px) {
    nav a,
    .pagenav a {
	    width: 5.8rem;
    }
}
@media (max-width: 720px) {
	:root {
		font-size: 12px;
	}
	.pagebody {
		width: auto;
		width: 40rem;
	}
    #navelement-photo::after {
        content: "s";
    }
	.box {
		font-size: 1rem;
	}
	#pagebody-home #box1,
	#pagebody-home #box4,
	#pagebody-home #box5,
	#pagebody-home #box6 {
		width: 35.6rem;
		height: 11rem;
	}
	#pagebody-home #box2,
	#pagebody-home #box3 {
		width: 16rem;
		height: 12rem;
	}
	#box5 div {
		display: inline-block;
	}
	.introtext {
		width: 24.3rem;
		font-size: 1.13rem;
	}

	#pagebody-oc #box1,
	#pagebody-oc #box2 {
		width: 36rem;
		height: 54rem;
	}
}
@media (max-width: 600px) {
	:root {
		font-size: 12px;
	}
}
@media (max-width: 500px) {
	:root {
		font-size: 10px;
	}
}
@media (max-width: 425px) {
	.pagetitle {
		font-size: 30px;
	}
	:root {
		font-size: 8px;
	}
	.pagetitle::after {
		content: " is too big to display for your display. Please unzoom.";
	}
}
