:root {
	font-size: 12px;
	vertical-align: top;
}
* {
	vertical-align: top;
}

body {
	font-family: Rubik, "Adwaita Sans", "Comic Sans MS", Roboto, fantasy, sans-serif, Ubuntu; /*hahahahahahaha no Ubuntu for youuu*/
	background-color: #ffbbc3;
	background-color: hsl(353, 100%, 87%);
	background: #ffbbc3 url(/res/img/w.gif) repeat;
	font-weight: normal;
	color: white;
}

a {
	color: #00ffff;
	text-decoration: none;
}
a:visited {
	color: #00bbff;
	text-decoration: none;
}
a:hover {
	color: pink;
	text-decoration: underline;
}
a:active {
	color: #ff0000;
	text-decoration: wavy;
}

iframe {
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.pagetitle {
	color: red;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding: 0px;
	-webkit-text-stroke: white 2px;
}

.pagenav {
	background: #bb89d3;
	background: #0000ff44;
	margin: auto;
	padding: 5px;
	margin-bottom: 5px;
	border: 2px solid #0077ff;
	font-size: 16px;
	width: 200px;
	height: 40px;
}

.pagenav a {
	display: inline-block;
	color: white;
	background: #bb49e7;
	background: #bb00ff77;
	border: 2px solid #00ffff;
	text-decoration: none;
	width: 77px;
	height: 15px;
	text-align: center;
	margin: 2px;
	padding: 6px;
	padding-bottom: 10px;
	/*-webkit-text-stroke: white 0.05rem;*/
	font-weight: 500;
	vertical-align: middle;
}
.pagenav a:hover {
	color: aqua;
	background: red;
}
.pagenav a:active {
	color: red;
	background: aqua;
}

.pagebody {
	display: block;
	margin: auto;
	text-align: center;
	width: auto;
	width: 571px;
}

.box {
	/*border-width: 2px;
	border-style: solid;
	border-color: #0000ff;*/
	border: 2px solid #0000ff;
	display: inline-block;
	background: #e04be7;
	background: #cc00ff99;
	padding: 10px;
	margin: 5px;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	width: auto;
	height: auto;
}
#box404, #box404 .pagenav {
	background: none;
	border: none;
}

ul {
	margin: 0px;
	padding: 0px;
	margin-left: 24px;
	font-size: 12px;
}

.boxtitle {
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 6px;
}

#box404 {
	color: red;
	font-size: 36px;
	font-weight: bold;
	width: auto;
	height: auto;
}

#pagebody-home #box1 {
	width: 370px;
	height: 118px;
}
#pagebody-home #box2 {
	width: 130px;
	height: 118px;
}
#pagebody-home #box3 {
	width: 190px;
	height: 72px;
	padding-bottom: auto;
}
#pagebody-home #box4 {
	width: 310px;
	height: 72px;
	text-align: center;
	display: inline-block;
}
#pagebody-home #box5,
#pagebody-home #box6 {
	width: 250px;
	height: 100px;
}

.button8831,
img .button8831,
.friendsbuttonsbox a img {
	width: 88px;
	height: 31px;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}

.introimage img,
.introimage {
	display: inline;
	height: 128px;
	width: 128px;
}
.introtext {
	display: inline-block;
	width: 239px;
	text-align: justify;
	font-size: 14px;
}

#navelement-photo::after {
    /*content: "graphs";*/
	content: "s";
}

.mybuttonbox div {
	display: inline;
}
.mybuttonbox div div {
	display: inline-block;
}
#mybuttontext {
	display: block;
}

.code {
	background: grey;
	color: white;
	font-family: monospace;
}
#mybuttoncode {
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 88px;
	height: 31px;
}

#buttonguidelinestext {
	display: block;
	width: 100%;
	text-align: center;
}

.friendsbuttonsbox a img{
	margin: 3px 1px;
}

.wiptext {
	font-size: 36px;
	text-align: center;
	margin-top: 12px;
}


/*@media (max-width: 900000px) {
	:root {
		font-size: 36px;
	}
	.button8831,
	img .button8831, #mybuttoncode, .friendsbuttonsbox a img {
		width: 176px;
		height: 62px;
	}
	#pagebody-home #box3 {
		height: 4.2rem;
	}
}
@media (max-width: 3500px) {
	:root {
		font-size: 18px;
	}
	.button8831,
	img .button8831,
	#mybuttoncode,
	.friendsbuttonsbox a img {
		width: 88px;
		height: 31px;
}
}
@media (max-width: 1300px) {
	:root {
		font-size: 16px;
	}
	#pagebody-home #box3 {
		height: 4.65rem;
	}
}*/
@media (max-width: 620px) {
	:root {
		font-size: 12px;
	}
	.pagetitle {
		font-size: 3.5rem;
	}
	.pagenav a {
		width: 4.15rem;
	}
	.pagebody {
		width: auto;
		width: 40rem;
	}
	.boxtitle {
		font-size: 1.3rem;
		margin-bottom: 0.1rem;
		margin-top: 0.1rem;
	}
    #navelement-photo::after {
        content: "";
    }
	.box {
		font-size: 1rem;
	}
	#pagebody-home #box1 {
		width: 25rem;
		height: 8rem;
	}
	#pagebody-home #box2 {
		width: 7rem;
		height: 8.5rem;
		padding-top: 0.5rem;
	}
	#pagebody-home #box3 {
		width: 9rem;
		height: 8.9rem;
	}
	#pagebody-home #box4 {
		width: 23rem;
		height: 7rem;
		height: fit-content;
		text-align: center;
	}
	#pagebody-home #box5,
	#pagebody-home #box6 {
		width: 35.6rem;
		height: 11rem;
	}
	
	ul {
		margin-left: 1rem;
		font-size: 1rem;
	}
	#pagebody-home #box5 div {
		display: inline-block;
	}
	.introtext {
		width: 17.7rem;
		font-size: 1rem;
	}
	.introimage img {
		height: 7rem;
		width: 7rem;
	}
	.pagetitle::after {
		content: " is too big to display for your display. Please unzoom.";
	}
	.pagetitle::after {
		content: " (Experimental compact layout)";
	}
}
@media (max-width: 490px) {
	:root {
		font-size: 10px;
	}
	.pagetitle::after {
		content: " is too big to display for your display. Please unzoom.";
	}
}
@media (max-width: 410px) {
	.pagetitle {
		font-size: 30px;
	}
	:root {
		font-size: 8px;
	}
	.pagetitle::after {
		content: " is too big to display for your display. Please unzoom.";
	}
}
