/* to fix */
#box-introduction {
    width: 392px;
    height: 118px;
}
#box-mybutton {
    font-size: 0px;
    width: 128px;
    height: 118px;
} /**/
#box-mybutton img {
    margin: 0px 17px 10px 17px;
}
#box-smisc {
    width: 312px;
    height: 213px;
}
#box-fwenbuttons {
    font-size: 0px;
    width: 208px;
    height: 213px;
    text-align: center;
}
#box-fwenbuttons img,
#box-fwenbuttons textarea {
    font-size: 12px;
    margin: 5px;
}
#box-webrings,
#box-chatbox {
    width: 260px;
    height: 260px;
}

.introimage img,
.introimage {
    display: block;
    float: left;
    height: 128px;
    width: 128px;
}

.introtext {
    display: inline;
    text-align: justify;
    font-size: 13px;
    vertical-align: top;
}

#div-mood img, #div-mood {
    color: #ffffff;
    text-decoration: underline;
    border: none;
}

.pronouns {
    color: #dddddd;
    display: inline;
}

#mybuttoncode {
    display: block;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 128px;
    height: 50px;
}
#buttonguidelines-text {
    display: block;
    font-size: 12px;
    text-align: center;
}

.friendsbuttonsbox a img{
    margin: 3px;
}

#div-listening * {
    display: block;
}

#div-listening {
    margin-top: 5px;
    font-size: 14px;
    display: block;
    text-align: center;
    width: 322px;
    text-decoration: none;
}

#track-name {
    font-size: 16px;
}

#track-album, #track-artist {
    margin-top: 10px;
}

#album-cover-link, #album-cover-img {
    height: 128px;
    width: 128px;
    float: left;
    margin-right: 10px;
}
