.ocpagenav {
    background: #c74d4d;
    background: #ff582055;
    margin-bottom: 5px;
    border: 3px solid #ff4000;
    width: 500px;
}

.ocpagenav a {
    background: #ff550099;
    border: 3px outset #ffd000;
    width: 80px;
}
a.ocnavselected {
    background:#ff4000cc;
}
.ocpagenav a:hover {
    color: aqua;
    background: red;
    border-style: outset;
}
.ocpagenav a:active {
    color: red;
    background: aqua;
    border-style: inset;
}

#box1,
#box2 {
    /*2:3*/
    width: 260px;
    height: 390px;
}

.ocinfo {
    margin-bottom: 20px;
    margin-left: 20px;
    margin: 0px 0px 20px 20px;
    font-size: 12px;
}

.oclore p {
    margin: 10px 0px;
    font-size: 12px;
}
