.box {
    font-size: 14px;
}
.linkbar {
    width: 560px;
    padding: 10px;
}
.linkbar-element {
    /*border: 3px outset;*/
    /*8+8px free if no margin or border*/
    display: block;
    height: 64px;
    width: 64px;
    border: none;
    margin: 8px;
    padding: 0px;
    float: left;
}
.linkbar-element:visited, .linkbar-element:hover, .linkbar-element:active {
    border: none;
}

.linkbar-element img {
    filter: brightness(100%);
    border: none;
    display: block;
    height: 64px;
    width: 64px;
    padding: 0px;
}

.linkbar-element:hover img {
    filter: brightness(80%);
}
.linkbar-element:active img {
    filter: brightness(0%);
}

#box-aboutdescintro {
    width: 560px;
}
#box-aboutimgpc, #box-aboutimgfood, #box-aboutimggrosnounours {
    height: 128px;
    width: 128px;
    padding: 0px;
}
#box-aboutdeschobbies, #box-aboutdescfood, #box-aboutdescgrosnounours {
    height: 108px;
    width: 412px;
}
img {
    height: 128px;
    width: 128px;
}
